.is-not-visible {
  display: none !important;
}

.text-primary {
  color: #8bc24a;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: #000000;
  color: #ffffff;
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 9em;
    padding: 2em 1em 1em;
    flex-direction: column;
    align-items: stretch;
  }
}

.icon {
  color: #8bc24a;
}

.header-contact-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-contact-container {
    display: flex;
    gap: 1em;
  }
}

.contact-info-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header-menu-container {
    padding: 0 2.5em 0;
  }
}

.header-logo-wrapper {
  width: 9.5em;
  height: 6.25em;
}
.header-logo-wrapper img {
  width: 100%;
}

.header-menu-pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-menu-pc {
    display: flex;
    gap: 4em;
  }
  .header-menu-pc a:hover {
    color: #8bc24a;
  }
}

.header-menu-mobile-icon {
  font-size: 1.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header-menu-mobile-icon {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  position: absolute;
  top: 100px;
  width: calc(100% - 5em);
  background-color: #8bc24a;
}
.header-menu-mobile a {
  display: block;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header-menu-mobile {
    display: none;
  }
}

.top-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0em;
  background-color: #ffffff;
  color: #000000;
  padding: 0 2em;
  padding-top: 2em;
  line-height: 2.5em;
  text-align: center;
}

.title-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
}
.title-top h1 {
  color: #8bc24a;
}

.rsvp {
  color: #8bc24a;
  line-height: 2em;
  text-align: center;
  margin-top: 4em;
}

.hours {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 10px;
}

 form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0px;
}
        
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #8bc24a;
  border-radius: 5px;
  margin-bottom: 2px;
}

.map01 {
  max-width: 100%;
  height: auto; 
  border: 3px solid #8bc24a;
  border-radius: 20px;

}

@media (max-width: 600px) {
  .map01 {
    max-width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .map01 {
    max-width: 70%;
  }
}

@media (min-width: 1201px) {
  .map01 {
    max-width: 50%;
  }
}

.bttn {
  margin-bottom: 50px;
  color: #8bc24a;
  border: #8bc24a solid 2px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  align-content: center;
}

.colour {
  color: rgb(137, 137, 137);
}
.colour1 {
  color: rgb(181, 55, 55);
}