.is-not-visible {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: #000000;
  color: #ffffff;
  padding: 1em 1em 1em;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 9em;
    padding: 2em 1em 1em;
    flex-direction: column;
    align-items: stretch;
  }
}

.icon {
  color: #8bc24a;
}

.header-contact-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-contact-container {
    display: flex;
    gap: 1em;
  }
}

.contact-info-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .header-menu-container {
    padding: 0 2.5em 0;
  }
}

.header-logo-wrapper {
  width: 9.5em;
  height: 6.25em;
}
.header-logo-wrapper img {
  width: 100%;
}

.header-menu-pc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-menu-pc {
    display: flex;
    gap: 4em;
  }
  .header-menu-pc a:hover {
    color: #8bc24a;
  }
}

.header-menu-mobile-icon {
  font-size: 1.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header-menu-mobile-icon {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  position: absolute;
  top: 100px;
  width: calc(100% - 5em);
  background-color: #8bc24a;
}
.header-menu-mobile a {
  display: block;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header-menu-mobile {
    display: none;
  }
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: #000000;
  color: #ffffff;
  padding: 0 2em;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.title-container h2 {
  color: #8bc24a;
}

.top-description-container {
  line-height: 1.5em;
}

.top-image-container {
  max-width: 100%;
}
.top-image-container img {
  width: 100%;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-image: url(../images/vegetable-white.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5em;
}

.description-slogan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: 600;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .description-slogan-container {
    font-size: 1.3em;
  }
}

.description-title span {
  color: #8bc24a;
}

.description-section {
  font-size: 1em;
  line-height: 2em;
}
.description-section .description-title {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .description-section {
    font-size: 1.2em;
  }
}

.concept-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/flavours.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1.5em;
  line-height: 2em;
}

.concept-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.concept-container-bottom .link-section {
  display: flex;
  gap: 1em;
  height: 100%;
}
.concept-container-bottom .link-section * {
  width: 50%;
}
.concept-container-bottom .link-section * img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .concept-container-bottom {
    flex-direction: row;
  }
  .concept-container-bottom .link-section {
    width: 30%;
  }
  .concept-container-bottom .link-section * {
    width: 30%;
  }
}